<rl-header>
  <p levels> Nazwa Przepisu</p>

  <div content>
  <p>Przepis</p>
</div>
</rl-header>
<div >
  <form [formGroup]="recipesForm" >
    <label for="name">Nazwa</label><br>
    <input formControlName="name" type="text" id="name" placeholder="Nazwa przepisu" /><br>
    <!-- <p *ngIf="recipesForm.get('name').valid"> This field is required</p> -->

    <label for="grammar">Gramatura</label><br>
    <textarea formControlName="grammar" id="grammar" placeholder="Gramatura"></textarea><br>

    <label for="execution">Wykonanie</label><br>
    <textarea formControlName="execution" id="execution" placeholder="Wykonanie"></textarea><br>

    <label for="link">Link do zdjęcia</label><br>
    <input formControlName="photo" id="link" placeholder="zdjęcie"><br>

    <rl-meal [recipesForm]="recipesForm" ></rl-meal> <br>

    <rl-cuisines-list [recipesForm]="recipesForm"></rl-cuisines-list> <br>

    <rl-difficulty-level-list [recipesForm]="recipesForm"></rl-difficulty-level-list><br>

    <rl-execution-time [recipesForm]="recipesForm"></rl-execution-time><br>
  </form>
  <br>

  <button  (click)="addRecipe()" >Dodaj Przepis</button>


  <pre>{{recipesForm.value | json}}</pre>

</div>
