<!-- DO POPRAWY - dodać poszczególne podtematy -->

<div class="container">
  <form [formGroup]="recipesForm" class="formArea">
    <div class="row" id="kotwica">
      <div class="col name">
        <label for="name" class="c-label">Nazwa</label><br />
        <input
          formControlName="name"
          type="text"
          id="name"
          placeholder="Nazwa przepisu"
          class="c-input"
        />
        <p *ngIf="!recipesForm.get('name')?.valid" class="error">
          This field is required
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="grammar" class="c-label">Gramatura</label><br />
        <textarea
          formControlName="grammar"
          id="grammar"
          placeholder="Gramatura"
          class="c-textarea"
        ></textarea>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="execution" class="c-label">Wykonanie</label><br />
        <textarea
          formControlName="execution"
          id="execution"
          placeholder="Wykonanie"
          class="c-textarea"
        ></textarea>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col">
        <label for="link" class="c-label">Link do zdjęcia</label><br />
        <input
          formControlName="photo"
          id="link"
          placeholder="zdjęcie"
          class="c-input"
        /><br />
      </div>
    </div>

    <div class="row mt-5 selection">
      <div class="col-6 col-lg-3 text-center">
        <rl-meal [mealForm]="recipesForm" class="innerSelection"></rl-meal>
      </div>
      <br />

      <div class="col-6 col-lg-3">
        <rl-cuisines-list
          [cuisineForm]="recipesForm"
          class="innerSelection"
        ></rl-cuisines-list>
      </div>
      <br />

      <div class="col-6 col-lg-3">
        <rl-difficulty-level-list
          [levelForm]="recipesForm"
          class="innerSelection"
        >
        </rl-difficulty-level-list>
      </div>
      <br />

      <div class="col-6 col-lg-3">
        <rl-execution-time
          [timeForm]="recipesForm"
          class="innerSelection"
        ></rl-execution-time>
      </div>
    </div>
  </form>
  <br />

  <div class="button">
    <button
      class="c-btnPrimary c-btnSizeLg"
      role="button"
      (click)="addRecipe()"
      (click)="execute()"
    >
      Create
    </button>
  </div>
</div>
