@import '../../../assets/styles/variables.less';
@import '../../../assets/styles/base.less';
@import '../../../assets/styles/components.less';

.formArea {
  padding-top: 1rem;
  display: block;
  margin: 2rem auto 0 auto;
  width:90%;
}

.selection  {
  background-color: @bez;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.button {
  width: 100%;
  text-align: center;
  padding: 1rem;
 }

.error {
  background-color: @red;
  color: @white;
  padding: 0.3rem 0 0.2rem 0.5rem;
}

.less-height{
  min-height: 10rem;
}










