@import '../../../assets/styles/variables.less';

.formularz {
  display: block;
  margin: 2rem auto 0 auto;
  width:90%;
}


  input {
    width:100%;
    border: 1px solid #d2cfc6;
    height: 50px;
    line-height: 1.8;
    padding: 0 0 0 20px;
  }


label {
  font-size: large;
  text-transform: uppercase;
  letter-spacing:1px;
  font-weight: 100;
  margin-top: 1rem;
}



.selection  {
  background-color: @lightGray;
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;

}

.grammar{
  display: block;
  margin: 2rem auto 0 auto;
  width:100%;
}

textarea{
  width:100%;
  border: 1px solid #d2cfc6;
  min-height: 300px;
  line-height: 1.8;
  padding: 20px 10px 10px 20px;
  margin: 0 auto;
}




