@import '../../../assets/styles/base';
@import '../../../assets/styles/components.less';
@import '../../../assets/styles/helpers.less';


.content {
  //.container-center;
  justify-items: center;
  display: grid;
  grid-template-columns:  1fr;
  grid-gap: 2rem 1rem;

  @media (min-width: @sm){
    grid-template-columns: repeat(2,1fr);
  }

  @media (min-width: @xl){
    grid-template-columns: repeat(3,1fr);
  }
}

.recipesGroup{
  .size(80%);

  @media (min-width: @sm){
    .size(14rem);
  }

  @media (min-width: @md){
    .size(19rem);
  }

  @media (min-width: @lg){
    .size(20rem);
  }

  @media (min-width: @xl){
    .size(21rem);
  }
}

.wrapper{
  .size(100%, 2rem);
}

