<main>
  <div class="container">
    <div class="wrapper"></div>
    <div class="content" *ngIf="recipes && recipes.length > 0; else noRecipeInfo">
      <div
        class="recipesGroup"
        *ngFor="let recipe of recipes"
        (click)="goToRecipeDetails(recipe)"
      >
        <rl-recipe [recipe]="recipe" ></rl-recipe>
      </div>
    </div>
  </div>

  <ng-template #noRecipeInfo>
    <rl-no-recipe></rl-no-recipe>
  </ng-template>
</main>


<!-- class="row d-flex justify-content-around" -->

