<!-- DO POPRAWY CAŁOŚĆ-->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="photo">
        <img
          src="{{ recipe?.photo }}"
          alt="Culinary Recipes - {{ recipe?.name }}"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="name">
        <div class="text">
          <div class="line"></div>
          <h3>{{ recipe.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="underPhotoPanel">
        <div class="time">
          Czas:<br />
          <span class="great">{{ recipe?.timeId }}</span>
        </div>
        <div class="cuisine">
          Kuchnia:<br />
          <span class="great">{{ recipe?.cuisineId }}</span>
        </div>
        <div class="level">
          Poziom:<br />
          <span class="great">{{ recipe?.difficultId }}</span>
        </div>
        <div class="meal">
          Posiłek:<br />
          <span class="great">{{ recipe?.mealId }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 gramm">
      <span class="ingridient"> SKŁADNIKI<br /><br /></span>
      <pre>{{ recipe.grammar }}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="exec">
        {{ recipe.execution }}
      </div>
    </div>
  </div>

  <div class="container" *ngIf="remover">
    <div class="row alertMy">
      <div class="col">
       <p><span class="great">Uwaga!!!</span><br>Czy jesteś pewny że chcesz usunąć przepis?</p>
        <div class="row">
           <div class="col-xs-6 justify-content-between">
            <button class=" but light" (click)="switchRemove()" >Cofnij</button>
            <button class="buttons but" (click)="removeRecipe(recipe)" (click)="switchRemove()"  [routerLink]="['/home']">Usuń</button>
           </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-sm-6 buttons">
      <button
        class="but butSizeGeneral hover-underline-animation"
        (click)="switchUpdate()"
      >
        Aktualizuj
      </button>

      <button
        class="col-sm-6 but butSizeGeneral" (click)="switchRemove()">
        Usuń
      </button>
    </div>




    <div class="updateForm" *ngIf="isUpdated == true">
      <rl-update-recipe [updateForm]="recipesForm"></rl-update-recipe>
    </div>

    <!-- <pre>{{ recipesForm.value | json }}</pre> -->
  </div>
</div>
