<div class="containerMy">
  <div class="row" id="top">
    <div class="col-xs-12 col-lg-12">
      <div class="titleHeader">
        <p>{{ recipe.name }}</p>
      </div>
    </div>
  </div>

  <div class="lineHr">
    <hr />
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-7 col-lg-7">
      <div class="photo">
        <rl-photo [recipePhoto]="recipe.photo"></rl-photo>
      </div>
    </div>

    <div class="col-xs-12 col-md-5 col-lg-5">
      <div class="underPhotoPanel">
        <div class="time labelPanel">
          Czas:
          <span class="great">{{ recipe?.timeId }}</span>
        </div>
        <div class="cuisine labelPanel">
          Kuchnia:
          <span class="great">{{ recipe?.cuisineId }}</span>
        </div>
        <div class="level labelPanel">
          Poziom:
          <span class="great">{{ recipe?.difficultId }}</span>
        </div>
        <div class="meal labelPanel">
          Posiłek:
          <span class="great">{{ recipe?.mealId }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 gramm">
        <span class="labelText">Składniki:</span>
      <pre>{{ recipe.grammar }}
      </pre>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="exec">
        <span class="labelText">Wykonanie:</span>
        <pre>{{ recipe.execution }}</pre>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="remover">

    <rl-alertDelete
    [data]="recipe"
    [switcher]="remover"
    (removedData)="onRemoveRecipe(recipe)"
    (switched)="switchRemove()"
    [dataText] = "recipe.name"
    >
    </rl-alertDelete>
  </div>

  <div class="row">
    <div class="col-sm-6 buttons" *ngIf="!isUpdated">
      <div class="butUpdate">
      <button (click)="switchUpdate()" class="but" id="buttonUpdate">
        Aktualizuj
      </button>
    </div>
    <div class="butDelete">
      <button
        class="col-sm-6 but"
        (click)="switchRemove()"
      >
        Usuń
      </button>
    </div>
    </div>

    <div class="updateForm" *ngIf="isUpdated">

      <rl-recipes-creator
        [recipeId]="recipe.id"
        [creator]="recipesForm"
        id="upId"
        [temp]="grammarTemp"
        (recipesFormOut)="onRecipesForm($event)"
        [isUpdated]="isUpdated"
        (dataUpdated)="onIsUpdated($event)"
      ></rl-recipes-creator>

    </div>
  </div>
</div>


      <!-- <rl-update-recipe
        [recipeId]="recipe.id"
        [updateForm]="recipesForm"
        id="upId"
        [temp]="grammarTemp"
        (recipesFormOut)="onRecipesForm($event)"
        [isUpdated]="isUpdated"
        (dataUpdated)="onIsUpdated($event)"
      ></rl-update-recipe> -->
