<div class="row alertMy">
  <div class="col">
    <p>
      <span class="great">Uwaga!!!</span>Czy jesteś pewny że chcesz
      usunąć: <span class="dataName">{{dataText}}? </span>
    </p>
    <div class="row">
      <div class="col-xs-6 justify-content-between">
        <button class="c-btnLight c-btnSizeMd" (click)="switchRemove()">Cofnij</button>
        <button
          class="c-btnPrimary c-btnSizeMd"
          (click)="removeData(data)"
          (click)="switchRemove()"

        >
          Usuń
        </button>
      </div>
    </div>
  </div>
</div>
<!--  -->
