@import '../../../assets/styles/base.less';
@import '../../../assets/styles/typography.less';
@import '../../../assets/styles/helpers.less';

.search{
  padding: 5rem 0 2rem 0;
  background-color: @white;

  @media (min-width: @md){
    padding-top: 1rem;
  }
}
.all{
  .title(@font-size-3);
  .inline-center;
  margin: 2rem 0;
}
