@import '../../../assets/styles/base.less';
@import '../../../assets/styles/typography.less';
@import '../../../assets/styles/components.less';

.button-filter{
  padding: 2rem 0 0 0;
  margin: 4rem 0 2rem 0;
}

.button-filter  {
  .inline-center;

  button{
    .c-btnPrimary;
    .c-btnSizeLong;
  }
}

.button-apply {
  button{
    .size(100%, 2.5rem);
    background-color: @red;
    border: none;
    color: @white;
    font-weight: 600;
    font-size: @font-size-6;
  }

}
@media (min-width: @sm){

  .button-apply  {
    button{
      .c-btnPrimary;
      .c-btnSizeLg;
    }
  }
}

.filter {
  margin-top: 4rem;

  h1 {
    font-weight: 600;
    font-size: @font-size-6;
    display: block;
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
  }
  .header{
    h1 {
      .inline-center;
      color: @red;
      font-weight: 800;
      font-size: @font-size-5;
      padding: 2rem 0 0 0;
    }
  }
}

.filters-group {
  padding-left: 5%;
  padding-bottom: 4rem;
}

.search{
  padding: 2rem 0 2rem 0;
  background-color: @white;
}
.all{
  .title(@font-size-3);
  .inline-center;
  margin: 2rem 0;
}

.clear-filters{

 position:fixed;
 width:100%;
 z-index: 1000000;
 top:5rem;

 button{
  .size(100%, 2.5rem);
  background-color: @red;
  border: none;
  color: @white;
  font-weight: 600;
  font-size: @font-size-6;
}

}
