<div class="button-filter" *ngIf="showButtonFilter">
  <button
    (click)="expandMenu = !expandMenu"
    (click)="showHideRecipe = !showHideRecipe"
    (click)="showButtonFilter = !showButtonFilter"
  >
    Filtry
  </button>
</div>
<div class="filter" *ngIf="expandMenu" #mainFilter>
  <div class="header"><h1>Filtry</h1></div>
  <div class="filters-group">
    <h1>Posiłki</h1>
    <rl-meal-radio [filterId]="meal" (loadedFilter)="onLoadMeal($event)"></rl-meal-radio>
    <h1>Czas Wykonania</h1>
    <rl-time-radio [filterId]="time" (loadedFilter)="onLoadTime($event)"></rl-time-radio>
    <h1>Trudność</h1>
    <rl-level-radio [filterId]="level" (loadedFilter)="onLoadLevel($event)"></rl-level-radio>
    <h1>Rodzaj kuchnii</h1>
    <rl-cuisine-radio [filterId]="cuisine" (loadedFilter)="onLoadCuisine($event)"
    ></rl-cuisine-radio>
  </div>
  <div class="clear-filters" *ngIf="checkFilters()">
    <button
      (click)="clearFilters()"
    >
      Wyczyść filtry
    </button>
  </div>
  <div class="button-apply fixed-bottom">
    <button
      (click)="load()"
      (click)="showHideRecipe = true"
      (click)="setFiltersVisibility()"
    >
      Zastosuj
    </button>
  </div>
</div>

<div *ngIf="showHideRecipe">
  <div class="search">
    <rl-search-engine (inputText)="onNewText($event)"> </rl-search-engine>
  </div>

  <div class="all">
    <p>Wszystkie przepisy</p>
  </div>

  <rl-main-recipes
    [mainRecipe]="recipes"
    [mainHeader]="headerText"
  ></rl-main-recipes>

  <rl-paginator
    [paginatorRecipes]="recipes"
    [total]="totalItem"
    (changedPage)="onHandlePageChange($event)"
  >
  </rl-paginator>
  <!-- (changedPageSize)="onhandlePageSizeChange($event)" -->
</div>
