<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="thFirst">Lp.</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>{{ user.email }}</td>
      </tr>
      <!-- <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1" >Edit</a> -->
      <tr >
        <td class="trBtn">
          <button
            (click)="deleteUser()"
            class="btn btn-sm btn-danger btn-delete-user btn float-end"
            [disabled]="user.isDeleting"
          >
            <span
              class="spinner-border spinner-border-sm"
              *ngIf="user.isDeleting"
            ></span>
            <span *ngIf="!user.isDeleting">Delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
