
table{
  margin-top: 2rem;
  min-height: 8rem;
  width: 100%;
}

th{
  font-weight: bold;
}

td{
  padding: 1rem;
}

.thFirst{
  padding-top: 1rem;
  width: 3rem;
}

.trBtn{
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 0;
}

@media (min-width: 768px){
  table{
    margin-top: 0;
  }
}
