@import '../../../assets/styles/variables.less';
@import '../../../assets/styles/base.less';
@import '../../../assets/styles/components.less';

.loginName{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h1{
  margin: 1rem 0 0 1rem;
  font-weight: bold;
  font-size: @font-size-5;
}

h2 {
  margin: 0 0 1.5rem 1rem;
  font-size: @font-size-6;
}

p{
  font-size: @font-size-6;
  font-weight: bold;
}
hr{
  margin-bottom: 1rem;
}

.buttons{
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  :first-child{
    margin: 0 1rem;
  }
}

.buttonEdit{
  .c-btn(@blue);
  .c-btnSizeMd;
}

@media (min-width: 768px){
  .loginName{
    margin-top: 1rem;
  }

  .buttons{
    text-align: right;
  }
}

