@import '../../../assets/styles/base.less';
@import '../../../assets/styles/colors.less';
@import '../../../assets/styles/helpers.less';

.rowMy{
  .size(100%);
  .container-center;
  .inline-center;
  background-color: @white;
}

.header{
  margin-bottom: 1rem;
}

.c-search{
  border: none;
  .size(85%);
  border-bottom: 1px solid @beige;
  padding: 8px;
  background-color: transparent;

  @media (min-width: @md){
    .size(65%);
  }
}

input:focus {
  outline:none!important;
}

.loop{
  display: inline-block;
  cursor:pointer
}

img{
  padding: 10px;
}


