@import '../../../assets/styles/variables.less';

.link{
  padding: 15px 0 5px 0;
  background-color: rgba(12,12,16,90%);
  color: @white;
  position: fixed;
  right: 0;
  left: 0;
}

ul {
  display: inline-flex;
  list-style: none;

  li {
    padding-right: 2rem;
    text-transform:capitalize;
    cursor: pointer;
    padding-right: 2rem;
    text-transform:capitalize;
  }

  li:hover{
        background: @red;
        transition: linear 300ms;
      }
}

.panel {
  background-color: @darkGray;
  margin-top: 60px;
}

.panel img {
  max-width: 100%;
}

.frame{
  background-color: @red;
  height: 3px;
}

