@import '../../../assets/styles/variables.less';
@import '../../../assets/styles/base.less';


.link{
  min-height: 76px;
  background-color: rgba(0,1,13,90%);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
}
.linkList{
  width: 75%;
  display: inline-block;
  text-align: right;
  margin-left: 10%;
 }

ul {
  li {
    padding: 30px 0 0 0;
    text-transform: lowercase;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 1rem;
    font-size: @font-size-base * 1.6;
  }

  li.active {
    color: @red;
    font-weight: 900;
  }
}

.person{
  margin-left: 3%;
  display: inline;
  cursor: pointer;
 }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: @white ;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 17px;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: @white;
  transform-origin: bottom right;
  transition: transform 0.40s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.panel {
  img {
    visibility: hidden;
    max-width: 100%;
  }
}

@media (min-width: 768px){
 .panel {
   background-color: @darkGray;
   margin-top: 4.75rem;

   img {
     visibility: inherit;
     max-width: 100%;
   }
 }

 .frame{
   background-color: @red;
   height: 4px;
 }

 .underFrame{
   background-color: @szary;
   height: 10px;
 }

 .whiteFrame {
   background-color: @white;
   height: 2rem;
 }

 .linkList{
  width: 80%;
 }

 ul {
  li {
    padding: 30px 0 0 0;
    margin-right: 1.5rem;
  }
}


 .loop{
    display: inline-block;
    margin-right: 3.5rem;
    cursor: pointer;
    img {
      padding: 10px 0 10px 10px;
    }
 }

}
