<form [formGroup]="recipesForm" class="formArea">
  <div class="row">
    <div class="col name" id="test">
      <label for="name" class="c-label">Nazwa</label><br />
      <input
        formControlName="name"
        type="text"
        id="name"
        placeholder="Nazwa przepisu"
        class="c-input"
        #autoFocus
      />
      <p *ngIf="!recipesForm.get('name')?.valid" class="error">This field is required</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label for="shortDescription" class="c-label">Opis</label><br />
      <textarea
        formControlName="shortDescription"
        id="shortDescription"
        placeholder="Opis"
        class="c-textarea less-height"
      ></textarea>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label for="grammar" class="c-label">Gramatura</label><br />
      <textarea
        formControlName="grammar"
        id="grammar"
        placeholder="Gramatura"
        class="c-textarea"
      ></textarea>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label for="execution" class="c-label">Wykonanie</label><br />
      <textarea
        formControlName="execution"
        id="execution"
        placeholder="Wykonanie"
        class="c-textarea"
      ></textarea>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col">
      <label for="link" class="c-label">Link do zdjęcia</label><br />
      <input formControlName="photo" id="link" placeholder="zdjęcie" class="c-input" /><br />
    </div>
  </div>

  <div class="row mt-5 selection">
    <div class="col-6 col-lg-3">
      <rl-meal [mealForm]="recipesForm"></rl-meal>
    </div>
    <br />

    <div class="col-6 col-lg-3">
      <rl-cuisines-list [cuisineForm]="recipesForm"></rl-cuisines-list>
    </div>
    <br />

    <div class="col-6 col-lg-3">
      <rl-difficulty-level-list
        [levelForm]="recipesForm"
      ></rl-difficulty-level-list>
    </div>
    <br />

    <div  class="col-6 col-lg-3">
      <rl-execution-time [timeForm]="recipesForm"></rl-execution-time>
    </div>

  </div>
</form>
