//Color

/* Color Theme Swatches in Hex */
@white: #ffffff;
@darkGray: #0c0b10;
@red: #A60311;
@pink: #D9183B;
@black: #00010D;
@gray: #181926;
@beige: rgba(217,180,167,0.3); //#D9B4A7;
@blue: #0695F5;



@font-size-base: 10px ; // ~16 px
//larger
@font-size-1: @font-size-base * 4.8;//3; // ~48px
@font-size-2: @font-size-base * 4;//2.5; // ~40px
@font-size-3: @font-size-base * 3;//2; // ~32p
@font-size-4: @font-size-base * 2.5;//1.5; // ~24px
@font-size-5: @font-size-base * 1.8;//1.125; // 18px
//smaller
@font-size-6: @font-size-base * 1.4;//0.875; // 14px
@font-size-7: @font-size-base * 1.2;//0.75; // 12px
@font-size-8: @font-size-base * 0.8;//0.5; // 8px






