//Color

@darkGray: #0c0b10;
@darkred: #a70e13;

@gray: #594D3E;
@lightGray: #eeeeee;

@lightbeige:#ece6dc;
@beige:#F2D8A7;
@darkbeige: #a07139;
@white: #ffffff;
@darkred: #a60321;


@background: #3c5659;
@light: #f2d8a7;
@dark: #d99748;
//@red: #F22222;



/* Color Theme Swatches in Hex */
@red: #A60311;
@rozowy: #D9183B;
@czarny: #00010D;
@szary: #181926;
@bez: rgba(217,180,167,0.3); //#D9B4A7;



@font-size-base: 1rem; // ~16 px
//larger
@font-size-1: @font-size-base * 3; // ~48px
@font-size-2: @font-size-base * 2.5; // ~40px
@font-size-3: @font-size-base * 2; // ~32p
@font-size-4: @font-size-base * 1.5; // ~24px
@font-size-5: @font-size-base * 1.125; // 18px
//smaller
@font-size-6: @font-size-base * 0.75; // 12px
@font-size-7: @font-size-base * 0.5; // 8px






